/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 10px;
    overflow: hidden;
}

#canvas-container {
    width: 100%;
    max-width: 1400px; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    height: 550px;
    margin: 50px auto;
    border: 5px solid rgb(24, 153, 132);
}

#movable-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ancho del div */
    max-width: 300px; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    height: 140px; /* Alto del div */
    padding: 30px;
    background-color: lightblue;
    display: none;
    font-family: inherit;
    font-size: 20px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: justify;
}

#movable-div p {
    margin: 10px;
}

#movable-div2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Ancho del div */
    max-width: 300px; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    height: 140px; /* Alto del div */
    padding: 30px;
    background-color: lightblue;
    display: none;
    font-family: inherit;
    font-size: 20px;
    color: black;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: justify;
}

#movable-div2 p {
    margin: 10px;
}

button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #345266;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    #movable-div,
    #movable-div2 {
        width: 150%;
    }

    button {
        bottom: 10px;
    }
}
